# Core ML & Transformers
transformers
datasets
tiktoken
numpy
scipy
scikit-learn
torch

# Streamlit
streamlit

# LangChain & Plugins
# langchain
# langchain-community
# langchain-ollama
# langchain-chroma
# langchain-openai
# langchain-google-genai

# Vector DB / Embeddings
chromadb

# PDF / Document Processing
pypdf
docx2txt

#evaluation
sentence-transformers
rouge-score 
bert-score

#models
openai
google-generativeai

#env
python-dotenv